<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Frontend test suite">
    <test name="Function test">
        <classes>
            <class name="hu.martin.ems.crudFE.EmployeeManagementSystemApplicationTests"/>
        </classes>
    </test>
    <test name="Crud testing">
        <classes>
            <class name="hu.martin.ems.crudFE.AdminToolsTest"/>
            <class name="hu.martin.ems.crudFE.AddressTest"/>
            <class name="hu.martin.ems.crudFE.CityCrudTest"/>
            <class name="hu.martin.ems.crudFE.CodeStoreCrudTest"/>
            <class name="hu.martin.ems.crudFE.CurrencyCrudTest"/>
            <class name="hu.martin.ems.crudFE.CustomerCrudTest"/>
            <class name="hu.martin.ems.crudFE.EmployeeCrudTest"/>
            <class name="hu.martin.ems.crudFE.LoginTests"/>
            <class name="hu.martin.ems.crudFE.OrderCrudTest"/>
            <class name="hu.martin.ems.crudFE.OrderElementCrudTest"/>
            <class name="hu.martin.ems.crudFE.PermissionTest"/>
            <class name="hu.martin.ems.crudFE.RoleTest"/>
            <class name="hu.martin.ems.crudFE.SupplierCrudTest"/>
            <class name="hu.martin.ems.crudFE.UserCrudTest"/>
            <class name="hu.martin.ems.crudFE.ProductCrudTest"/>
            <class name="hu.martin.ems.crudFE.RoleXPermissionCreateTest"/>
            <class name="hu.martin.ems.crudFE.OrderCreateTest"/>
        </classes>
    </test>
</suite>