:root {
    --side-menu-width: 250px;
}

.menu-layout {
    background-color: #f7f7f7;
    padding: 10px;
    border-right: 1px solid #ddd;
}

.content-layout {
    padding: 20px;
    flex-grow: 1;
    overflow: auto;
    margin-left: 0;
    transition: margin-left 0.3s ease;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px !important;
    width: 250px !important;
    height: 100%;
    background-color: #f8f9fa;
    transition: left 0.3s ease;
    z-index: 1000;
}

/* Amikor megjelenik a menü, a content layout is eltolódik */
.side-menu.show {
    left: 0 !important;
}

.content-layout.shifted {
    margin-left: var(--side-menu-width);
}

.side-menu.show {
    left: 0px!important; /* Menü megjelenése */
}

/* Menü megjelenítése, amikor az egér az oldalra kerül */
.side-menu:hover {
    left: 0px!important; /* Megjelenik */
}


/* Menüelem háttérszín változása hover esetén */
.side-menu > *:hover {
    background-color: #555;
}

.logout-button {
    position: absolute;
    bottom: 0;        /* Az alsó sarokhoz */
    left: 0;          /* A bal oldalhoz */
    background-color: #ff4d4f;
    color: white;
    margin: 10px;

    text-align: center;
}

.register-button{
    width: 100%;
}

.main-view {
    display: flex;
}

/*.side-menu {*/
/*    width: 250px;*/
/*    background-color: #ffffff;*/
/*    border-right: 1px solid #e0e0e0;*/
/*    padding: 20px;*/
/*    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);*/
/*}*/

.side-menu > span {
    font-weight: bold;
    color: #333;
    cursor: pointer;
    padding: 10px;
}

.side-menu > span:hover {
    background-color: #f0f0f0;
}

.side-menu .list-menu {
    display: none;
    padding-left: 15px;
}

.side-menu .list-menu span {
    display: block;
    padding: 8px;
    color: #007BFF;
    cursor: pointer;
}

.side-menu .list-menu span:hover {
    background-color: #e0e0e0;
}

